:root {
  --text: #111111;
  --brand: #ffda0b;
  --bg: #f2efe7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--bg);
  color: var(--text);
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
  font-family: "Work Sans", sans-serif;
  font-family: "Inter", sans-serif;
}

#portfolio {
  width: 210px;
}

.btnPrimary {
  transition: ease-in-out 0.2s;
  padding: 7px 35px;
  border: none;
  background-color: var(--brand);
  border-radius: 50px;
  font-family: "Raleway";
  border: 3px solid var(--brand);
  color: var(--text);
  font-size: 1.2rem;
  font-weight: 700;
}

.btnPrimary:hover {
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px 0px black;
}

.btnSecondary {
  transition: ease-in-out 0.2s;
  padding: 7px 35px;
  border: 3px solid var(--text);
  background-color: transparent;
  color: var(--text);
  border-radius: 50px;
  font-family: "Raleway";
  font-size: 1.2rem;
  font-weight: 700;
}

.btnSecondary:hover {
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px 0px black;
}

#btnContact {
  cursor: pointer;
  width: 100%;
}

.navContainer {
  max-width: 930px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.navbar>h1 {
  font-size: 2.5rem;
  font-family: "Inter";
  font-weight: 900;
}

.navbar>.navMenu {
  display: flex;
  gap: 32px;
  font-family: "Raleway";
  font-size: 1.2rem;
  font-weight: 700;
}

.navbar>.navMenu>a {
  text-decoration: none;
  color: var(--text);
}

.navbar>i {
  display: none;
  font-size: 1.5rem;
}

.mobNavMenu {
  background-color: #b4b4b4;
  padding: 5% 12%;
  display: none;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  transition: all 0.3s ease;
}

.mobNavMenu>a {
  width: 100%;
  text-decoration: none;
  color: var(--text);
  font-weight: 600;
  font-size: 1.2rem;
}

.underline2 {
  z-index: 0;
  position: absolute;
  width: calc(100% - 58%);
  top: 45%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 9.6px;
  background-color: var(--brand);
}

.underline3 {
  /* z-index: -1; */
  position: absolute;
  width: 105%;
  z-index: -1;
  bottom: 1.2px;
  left: -3px;
  height: 9.6px;
  background-color: var(--brand);
}

#testimonial {
  width: calc(100% - 39%);
}

.heroContainer {
  width: 100%;
}

.heroSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
}

.heroSection>.left {
  width: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.heroSection>.left>h1 {
  width: 100%;
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 1;
  z-index: 1;
}

.heroSection>.left>.underline {
  width: 132.8px;
  height: 9.6px;
  position: absolute;
  top: 37%;
  left: 38.1%;
  background-color: var(--brand);
  z-index: 0;
}

.heroSection>.left>.btn {
  display: flex;
  gap: 16px;
}

.heroSection>img {
  width: 336px;
}

.skillBar {
  color: white;
  text-transform: uppercase;
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 72px;
  background-color: #222;
  padding: 0 5%;
}

.servicesSection {
  padding: 110px 19%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 24px;
}

.title {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title>h1 {
  z-index: 1;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 2.5rem;
}

.title>p {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 1.2rem;
}

.servicesSection>.cardContainer {
  padding-top: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 30px;
  row-gap: 30px;
}

.servicesSection>.cardContainer>.card {
  position: relative;
  /* background-color: #d9d9d9; */
  border: 3px solid var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 320px;
  height: 100px;
  border-radius: 10px;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

.servicesSection>.cardContainer>.card:hover {
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px 0px black;
}

.servicesSection>.cardContainer>.card>p {
  text-align: center;
  margin-left: 15%;
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 1.2rem;
}

.servicesSection>.cardContainer>.card>i {
  font-size: 2.8rem;
  position: absolute;
  left: 11%;
}

.portfolioSection {
  padding: 0 19%;
  padding-bottom: 110px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 24px;
}

.portfolioSection>.cardContainer {
  padding-top: 40px;

  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 30px;
  column-gap: 30px;
}

.portfolioSection>.cardContainer>.card {
  cursor: pointer;
  transition: ease-in-out 0.2s;
  width: 320px;
  position: relative;
  height: 425px;
  background-color: transparent;
  border: 3px solid var(--text);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 20px;
}

.portfolioSection>.cardContainer>.card:hover {
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px 0px black;
}

.portfolioSection>.cardContainer>.card i {
  top: 15%;
  position: absolute;
  font-size: 2.5rem;
}

.portfolioSection>.cardContainer>.card h2 {
  margin-top: 50%;
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 1.75rem;
}

.portfolioSection>.cardContainer>.card p {
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 1rem;
}

.testimonialsSection {
  padding: 0 19%;
  padding-bottom: 110px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

.testimonialsSection>.cardsContainer {
  gap: 20px;
  display: flex;
  margin-top: 100px;
}

.testimonialsSection>.cardsContainer>.card {
  padding: 0 25px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  border-radius: 10px;
  width: 333px;
  height: 335px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

/* .testimonialsSection > .cardsContainer > .card:hover {
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px 0px black;
} */

.testimonialsSection>.cardsContainer>.card>img {
  position: absolute;
  top: -22%;
  border: 6px solid var(--bg);
  border-radius: 100%;
  width: 130px;
}

.testimonialsSection>.cardsContainer>.card>p {
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 19px;
}

.testimonialsSection>.cardsContainer>.card>h3 {
  z-index: 10;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 1.35rem;
  position: absolute;
  bottom: 25px;
}

.footerContainer {
  width: 100vw;
  background-color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: var(--text);
  color: var(--bg);
  height: 40%;
  width: 1020px;
  padding: 0;
  padding: 100px 0;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.footer>h1 {
  font-family: "Inter";
  font-weight: 900;
  font-size: 5.25rem;
}

.footer>.contactContainer {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 20px;
  column-gap: 100px;
}

.footer>.contactContainer>.bar {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer>.contactContainer>.bar>i {
  color: var(--text);
  font-size: 1.5rem;
  background-color: var(--bg);
  border-radius: 100%;
  padding: 6px;
}

.footer>.contactContainer>.bar>a {
  color: var(--bg);
  text-decoration: none;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 1.2rem;
}

.footer>.contactContainer>.bar>a:hover {
  text-decoration: underline;
}

/* responsive  */

@media screen and (min-width: 1600px) {
  .navContainer {
    width: 1600px;
    margin: 0 auto;
  }

  .heroContainer {
    width: 1600px;
    margin: 0 auto;
  }

  /* .footer {
    height: fit-content;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    gap: 10%;
  } */
}

@media screen and (max-width: 480px) {

  .navbar>.navMenu,
  .navbar>button {
    display: none;
  }

  .navbar {
    padding: 0 12%;
  }

  .navbar>i {
    display: block;
  }

  .heroSection>.left {
    width: fit-content;
  }

  .heroSection>.left>.underline {
    top: 32%;
    width: 95px;
    left: 41.5%;
    height: 6px;
  }

  .heroSection {
    justify-content: center;
    gap: 20px;
    flex-direction: column-reverse;
    padding: 0;
    text-align: center;
  }

  .underline2 {
    width: 160px;
  }

  .heroSection>img {
    width: 50%;
  }

  .heroSection .btnSecondary {
    display: none;
  }

  .btnPrimary {
    font-size: 1.1rem;
  }

  .heroSection>.left {
    align-items: center;
  }

  .heroSection>.left>h1 {
    text-align: center;
    width: 100%;
    font-size: 2rem;
  }

  .skillBar {
    height: 50px;
    padding: 0;
    width: 100%;
    font-size: 0.65rem;
  }

  .skillBar>img {
    width: 13px;
  }

  .servicesSection {
    padding: 19% 2%;
  }

  .title {
    width: 100%;
    padding: 0;
  }

  .title>h1 {
    font-size: 2.2rem;
  }

  .title>p {
    font-size: 1.1rem;
  }

  .servicesSection>.cardContainer {
    grid-template-columns: auto auto;
    column-gap: 10px;
  }

  .servicesSection>.cardContainer>.card {
    width: calc(340px * 0.6);
    height: calc(100px * 0.6);
  }

  .servicesSection>.cardContainer>.card i {
    font-size: 1.5rem;
  }

  .servicesSection>.cardContainer>.card>p {
    font-size: 1rem;
  }

  .portfolioSection {
    padding-left: 2%;
    padding-right: 2%;
  }

  .portfolioSection>.cardContainer {
    grid-template-columns: auto;
  }

  .portfolioSection>.cardContainer>.card {
    scale: 0.9;
  }

  #testimonial {
    width: 230px;
  }

  .testimonialsSection {
    padding-left: 2%;
    padding-right: 2%;
  }

  .testimonialsSection>.cardsContainer {
    gap: 70px;
    flex-direction: column;
  }

  .testimonialsSection>.cardsContainer>.card {
    scale: 0.9;
  }

  .footer {
    gap: 35px;
    height: fit-content;
    flex-direction: column;
    padding: 40px 0;
    align-items: center;
    justify-content: center;
  }

  .footer>.contactContainer {
    scale: 0.9;
    display: flex;
    flex-direction: column;
  }
}